<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.StoredetailMapper">

    <resultMap id="StoredetailResultMap" type="com.erp.pojo.Storedetail">
        <id property="sdid" column="sdid"/>
        <result property="storeId" column="storeId"/>
        <result property="goodsId" column="goodsId"/>
        <result property="num" column="num"/>
    </resultMap>

    <select id="findAll" resultMap="StoredetailResultMap">
        SELECT * FROM storedetail
        <if test="storeId != null">
            AND storeId = #{storeId}
        </if>
        <if test="goodsId != null">
            AND goodsId = #{goodsId}
        </if>
    </select>

    <insert id="add">
        INSERT INTO storedetail (storeId, goodsId, num)
        VALUES (#{storeId}, #{goodsId}, #{num})
    </insert>

    <select id="getPojoById" resultMap="StoredetailResultMap">
        SELECT * FROM storedetail WHERE sdid = #{uuid}
    </select>

    <delete id="delete">
        DELETE FROM storedetail WHERE sdid = #{uuid}
    </delete>

    <update id="update">
        UPDATE storedetail SET storeId = #{storeId}, goodsId = #{goodsId}, num = #{num}
        WHERE sdid = #{sdid}
    </update>

    <select id="getCount" resultType="Integer">
        SELECT COUNT(*) FROM storedetail
    </select>

    <select id="findByGoodsId" resultMap="StoredetailResultMap">
        SELECT * FROM storedetail WHERE goodsId = #{goodsId} AND storeId = #{storeId}
    </select>

    <update id="updateNumBygoodsIdAndstoreId">
        UPDATE storedetail SET num = #{num} WHERE goodsId = #{goodsId} AND storeId = #{storeId}
    </update>

    <select id="findByGoodsIdAndStoreId" resultMap="StoredetailResultMap">
        SELECT * FROM storedetail WHERE goodsId = #{goodsId} AND storeId = #{storeId}
    </select>

</mapper>